.cart {
    // display: flex;
}
.product {
    display: column;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 6px;
    color: white;
    padding: 11px;
    width: 131vw;
}
.img-cart {
    img {
        height: 100px;
        width: 100px;
    }
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.summary {
}
.filters {
    margin-left: 50% !important;
    width: 50% !important;
    // background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}
.title {
    font-size: 30px;
}
.filters > span {
    padding-bottom: 20px;
}
.head {
    color: white;
    padding: 11px;
    text-align: center;
}
.proceed {
    font-size: 1.41575em;
    color: var(--accent-color1);
    // font-weight: bsold;
    /* margin-left: 43%; */
    padding: 1rem 3rem;
    border-radius: 2rem;
    background: linear-gradient(
        208deg,
        rgb(209, 167, 16) 32.78%,
        rgb(100, 78, 26) 80.68%
    ) !important;
    box-shadow: 2px 1000px 1px var(--background) inset;
    transition: 0.5s ease-in-out;
    // text-align: center;
    cursor: pointer;
    &:hover {
        box-shadow: none;
    }
}
.headers {
    padding-bottom: 35px;
    font-size: 1.2em;
    font-weight: bold;
}
